@import '../../styles/functions.scss';
@import '../../styles/variables.scss';

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: calculate-rem(40px) calculate-rem(20px);

  // TODO: remove once more sections have been added
  min-height: 100vh;
  
  @include desktop {
    min-height: calculate-rem(800px);
    align-items: center;
  }
}

.content {
  color: $lightest;
  
  h1 {
    @include font-size(50px);

    @include desktop {
      @include font-size(80px);
    }
  }
}
