@import '../../styles/functions.scss';
@import '../../styles/variables.scss';

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: calculate-rem(40px) calculate-rem(20px);
  border-bottom: 1px solid $dark;
  margin-bottom: 2rem;

  min-height: 100vh;
  
  @include desktop {
    min-height: 80vh;
    align-items: center;
  }
}

.content {
  color: $lightest;
  
  h1 {
    @include font-size(50px);

    @include desktop {
      @include font-size(80px);
    }
  }
}
