@import '../../styles/functions.scss';
@import '../../styles/variables.scss';

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: calculate-rem(40px) calculate-rem(20px);
  border-bottom: 1px solid $dark;
  margin-bottom: 2rem;
  
  @include desktop {
    min-height: 80vh;
    align-items: center;
  }
}

.invitation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero/invitation_bg.jpg");
}

.directions {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero/directions_bg.jpg");
}

.wedding {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero/wedding_bg.jpg");
}

.story {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero/love_story_bg.jpg");
}

.content {
  color: $lightest;
  text-align: center;
  
  h1 {
    @include font-size(50px);

    @include desktop {
      @include font-size(80px);
    }
  }
}
