@import '../../styles/functions.scss';

.fullWidth {
  flex: 1;
  padding: 0 1rem;

  @include desktop {
    margin-top: 2rem;
  }

  h1 {
    font-size: calculate-rem(32px);
  }

  h2 {
    font-size: calculate-rem(24px);
  }
}
