@import 'variables';
@import 'functions';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Serif', sans-serif;
  background-color: $lightest;
  color: $off-black;
  font-size: 16px;

  @include desktop {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dancing Script', serif;
}

li, p {
  line-height: 1.5rem;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

a {
  color: $dark;
  text-decoration: underline;
  text-underline-offset: 1px;
}

.button {
  color: $off-white;
  background-color: $light;
  border: 1px solid $dark;
  padding: 10px 20px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
